.businessCenter{
  font-size: 14px;
  background: #dddddd;
}

.businessCenter .bar-subheader a{
  width:96%;
  display: block;
  height:100%;
  line-height: 34px;
  padding:0px 2%;
}

.businessCenter .bar-subheader a i{
  float: right;
  font-size: 20px;
}

.businessCenter-content{
}

.businessCenter-tabs{
  margin-top: 10px;
  background:#ffffff;
}
.businessCenter-tabs a{
  display: inline-block;
  line-height: 34px;
}

.businessCenter-tabs a.active{
  color:#e83928;
  border-bottom: 4px solid #e83928;
}

.businessCenter-content .img-panel{
  width:40px;
  height:40px;
}

.businessCenter-content .img-panel img{
  display: block;
  width:100%;
}

.businessCenter-content .agent-goods-list .col{
  font-size:12px;
  line-height: 40px;
}

.businessCenter-content .admin-panel{
  background: #50a009;
  padding-bottom: 20px;
}

.businessCenter-content .admin-panel:after{
  display: block;
  visibility: visible;
  content: "";
  clear: both;
}

.businessCenter-content .admin-panel div{
  display:inline-table;
  text-align: center;
  margin: auto;
  float: left;
  width:33.3333333%;
  vertical-align: middle;
  line-height: 50px;
  color: #ffffff;
}
.businessCenter-content .admin-panel div img{
  display: block;
  margin: auto;
}

.businessCenter-content .admin-panel div a{
  margin: auto;
  margin-top:8%;
}

.businessCenter-content .admin-panel2{
  background:#2a6496;
  color: #ffffff;
}
