a{
  text-decoration: none;
  color:#444;
}

.collect{
  font-size: 14px;
  background: #dddddd;

}
.collect-content{
  padding-top:45px;
}
.collect .bar a{
  display: inline-block;
 line-height: 34px;
}

.collect .bar a.active{
  color:#e83928;
  border-bottom: 4px solid #e83928;
}

.collect-goods-panel{
  position:relative;
  width:100%;
}

.collect-goods-list{
  list-style: none;
  margin-right: 5px;
  margin-left: 5px;
}

.collect-goods-list:after{
  display: block;
  visibility: visible;
  content: "";
  clear:both;
}

.collect-goods-item{
  float: left;
  width:48.5%;
  background: #ffffff;
  margin-bottom: 10px;
}

.collect-goods-item:nth-child(2n+1){
  margin-right: 3%;
}

.collect-goodsImg-panel,.collect-goodsImg-panel img{
  width:100%;
  display:block;
}

.collect-other-panel{
  height:60px;
}

.home-shop-item-img img{
  width:100%;
}
