<ion-view view-title="账户与安全" class="account-security">
    <ion-content class="account-security-content">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">登录密码修改</span>
            </label>
            <label class="item item-input">
                <span class="input-label">原登录密码</span>
                <input type="text" placeholder="输入原密码">
            </label>
            <label class="item item-input">
                <span class="input-label">新登录密码</span>
                <input type="password" placeholder="输入新密码">
            </label>
            <div class="text-center padding-top padding-bottom" style="background: #ffffff">
                <button class="button button-small button-assertive" style="width:80px;">
                    保存
                </button>
            </div>

        </div>

        <div class="list margin-top-10">
            <label class="item item-input">
                <span class="input-label">支付密码修改</span>
            </label>
            <label class="item item-input">
                <span class="input-label">原支付密码</span>
                <input type="password" placeholder="输入原支付密码">
            </label>
            <label class="item item-input">
                <span class="input-label">新支付密码</span>
                <input type="password" placeholder="输入新支付密码">
            </label>
            <div class="text-center padding-top padding-bottom" style="background: #ffffff">
                <button class="button button-small button-assertive" style="width:80px;">
                    保存
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>