<ion-view view-title="活动">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-thin-left" ui-sref="tab.home"></a>
    </ion-nav-buttons>

    <ion-content>
        <img src="../img/active.jpg" width="100%">

        <div class="goods-list-panel padding-top">
            <div class="list">
                <a class="item item-thumbnail-left active-list">
                    <img ng-if="!goodsItem.goods.goodsimg" src="img/item_pic.jpg">
                    <h2>[德国Herbacri]</h2>
                    <span>小雏菊温和高保水经经典慧仁漱口水(233ml)</span>
                    <div class="active_main">
                        <div class="active_main_left">
                            <div class="progress-bar shine">
                                <span style="width: 20%"></span>
                            </div>
                            <p>20%已订购</p>
                            <p>剩余时间 2016-02-30 00:00:00</p>
                        </div>
                        <div class="active_main_right">
                            <input type="button" value="预 售" class="active_button_bg">
                            <p>￥288.88</p>
                        </div>
                    </div>
                </a>
                <a class="item item-thumbnail-left">
                    <img ng-if="!goodsItem.goods.goodsimg" src="img/item_pic.jpg">
                    <h2>[德国Herbacri]</h2>
                    <span>小雏菊温和高保水经经典慧仁漱口水(233ml)</span>
                    <div class="active_main">
                        <div class="active_main_left">
                            <div class="progress-bar shine">
                                <span style="width: 100%"></span>
                            </div>
                            <p>抢光了</p>
                            <p>剩余时间 2016-02-30 00:00:00</p>
                        </div>
                        <div class="active_main_right">
                            <input type="button" value="抢光了"  class="active_button_a_bg">
                            <p>￥288.88</p>
                        </div>
                    </div>
                </a>
                <a class="item item-thumbnail-left">
                    <img ng-if="!goodsItem.goods.goodsimg" src="img/item_pic.jpg">
                    <h2>[德国Herbacri]</h2>
                    <span>小雏菊温和高保水经经典慧仁漱口水(233ml)</span>
                    <div class="active_main">
                        <div class="active_main_left">
                            <div class="progress-bar shine">
                                <span style="width: 20%"></span>
                            </div>
                            <p>20%已订购</p>
                            <p>剩余时间 2016-02-30 00:00:00</p>
                        </div>
                        <div class="active_main_right">
                            <input type="button" value="预 售" class="active_button_bg">
                            <p>￥288.88</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

