<ion-view class="order" view-title="售后服务">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ui-sref="tab.user" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="">
    <div class="list">
      <div class="item item-divider light-bg">
        店铺A
      </div>
      <a class="item row-no-padding gray-bg" href="#">
        <div class="row">
          <div class="col order-goods-item">
            <div class="order-goodsImg-panel"> <img src="img/100-100.jpg"> </div>
          </div>
          <div class="col">商品1</div>
          <div class="col" style="text-align: right;">X1</div>
        </div>
      </a>
      <a class="item row-no-padding gray-bg" href="#">
        <div class="row">
          <div class="col order-goods-item">
            <div class="order-goodsImg-panel"> <img src="img/100-100.jpg"> </div>
          </div>
          <div class="col">商品1</div>
          <div class="col" style="text-align: right;">X1</div>
        </div>
      </a>
      <div class="item item-divider light-bg padding-top padding-bottom">
        <p>共一件商品  合计：￥23.00（快递费￥0.00）</p>
      </div>
      <div class="item item-divider light-bg padding-top padding-bottom text-right">
        <button class="button button-small button-outline btn-w-70">
          售后信息
        </button>
        <button class="button button-small button-outline button-assertive btn-w-70">
          取消售后
        </button>

      </div>
    </div>

    <div class="list">
      <div class="item item-divider light-bg">
        店铺B
        <span style="float: right" class="positive">待付款</span>
      </div>
      <a class="item row-no-padding gray-bg" href="#">
        <div class="row">
          <div class="col order-goods-item">
            <div class="order-goodsImg-panel"> <img src="img/100-100.jpg"> </div>
          </div>
          <div class="col">商品1</div>
          <div class="col" style="text-align: right;">X1</div>
        </div>
      </a>
      <div class="item item-divider light-bg padding-top padding-bottom">
        <p>共一件商品  合计：￥23.00（快递费￥0.00）</p>
      </div>
      <div class="item item-divider light-bg padding-top padding-bottom text-right">
        <button class="button button-small button-outline btn-w-70">
          删除订单
        </button>
        <button class="button button-small button-outline button-calm btn-w-70">
          付款
        </button>
        <button class="button button-small button-outline button-calm btn-w-70">
          评价
        </button>
        <button class="button button-small button-outline button-balanced btn-w-70">
          物流信息
        </button>
        <button class="button button-small button-outline button-energized btn-w-70">
          确认收货
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
