<ion-view class="businessCenter" view-title="商家中心">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ui-sref="tab.user" nav-direction="back"></a>
  </ion-nav-buttons>

  <ion-content class="businessCenter-content">
    <div class="admin-panel padding-top padding-bottom">
      <div><img src="img/store-logo.png" style="width:50px;"/></div>
      <div>[苹果]官方旗舰店</div>
      <div><a class="button button-small button-outline">解除绑定</a></div>
    </div>

    <div class="admin-panel2" >
      <div class="row">
        <div class="col">
          <p>商户M0774，邀请你成为管理员</p>
          <p>
            <a class="button button-small button-outline">同意邀请</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="button button-small button-outline">取&nbsp;&nbsp;消</a>
          </p>
        </div>
      </div>
    </div>


    <div class="row" style="background: #ffffff;">
      <div class="col text-center" style="color:red">
        申请信息列表
      </div>
    </div>
    <div class="list agent-goods-list">
      <div class="item row">
        <div class="col col-25">
          <div class="img-panel">
            <img src="img/100-100.jpg">
          </div>
        </div>
        <div class="col col-50">代理商品1</div>
        <div class="col col-25 text-right calm">申请中</div>
      </div>
      <div class="item row">
        <div class="col col-25">
          <div class="img-panel">
            <img src="img/100-100.jpg">
          </div>
        </div>
        <div class="col col-50">代理商品1</div>
        <div class="col col-25 text-right calm">申请中</div>
      </div>
      <div class="item row">
        <div class="col col-25">
          <div class="img-panel">
            <img src="img/100-100.jpg">
          </div>
        </div>
        <div class="col col-50">代理商品1</div>
        <div class="col col-25 text-right calm">申请中</div>
      </div>
      <div class="item row">
        <div class="col col-25">
          <div class="img-panel">
            <img src="img/100-100.jpg">
          </div>
        </div>
        <div class="col col-50">代理商品5</div>
        <div class="col col-25 text-right calm">申请中</div>
      </div>
      <div class="item row">
        <div class="col col-25">
          <div class="img-panel">
            <img src="img/100-100.jpg">
          </div>
        </div>
        <div class="col col-50">代理商品1</div>
        <div class="col col-25 text-right calm">申请中</div>
      </div>
    </div>

  </ion-content>
</ion-view>
