<ion-view view-title="分类">
    <ion-nav-buttons side="left">
        <button class="button  icon ion-navicon button-clear" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button  icon ion-ios-cart-outline button-clear" ng-click="isLogin('cart')"></button>
    </ion-nav-buttons>

    <div class="list search" style="margin-bottom: 0px;">
        <label class="item item-input" ui-sref="store-search" nav-direction="forward">
            <label class="search-btn"><i class="icon ion-search placeholder-icon"></i></label>
            <input type="text" placeholder="搜索">
        </label>
    </div>


    <div class="category-panel row">
        <!--一级分类-->
        <ion-content class="col-25 category-panel-left" overflow-scroll="true">
            <ion-list class="w-100 class-font-style">
                <ion-item class="list-tab-bg text-center  " ng-class="{'selected':classItem.selected}"
                          ng-repeat="classItem in firstClass" ng-click="getChildClass(classItem.goods_class.id)">
                    <label>{{classItem.goods_class.name}}</label>
                </ion-item>
            </ion-list>
        </ion-content>
        <!-- 二级分类-->
        <ion-content class="col-75 col-offset-25  category-panel-right " overflow-scroll="true">

            <div class="category-list" ng-repeat="classItem in SecAndThrClass">
                <div class="light-bg  searchHot ">
                    <h2>热销排行 <i class="ion-chevron-right"></i></h2>
                    <p>款款惊爆价</p>
                </div>
                <div class="category-second-list col-offset-4"><h4>{{classItem.goods_class.name}}</h4></div>
                <div class="category-third-list" ng-if="classItem.goods_class.childs.length>0">
                    <ul>
                        <li class="category-third-item" ng-repeat="childItem in classItem.goods_class.childs"
                            ui-sref="store-search({categoryId:childItem.id})" nav-direction="forward">
                            <div class="images-panel">
                                <img src="img/100-100.jpg">
                            </div>
                            <p>{{childItem.name}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-content>

    </div>


    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view class="model-panel">
            <ion-header-bar class="bar-clear">
                <a class="button " ng-click="closeModal();"></a>
                <!--<h1 class="title">快速导航</h1>-->
            </ion-header-bar>

            <div class="list list-inset" style="margin-top: 60px;">
                <label class="item item-input">
                    <label class="search-btn" ng-click="search()"><i class="icon ion-search placeholder-icon"></i></label>
                    <input type="text" placeholder="Search" name="goodsname" ng-model="goodsname">
                </label>
            </div>

            <div class="row responsive-sm" >
                <div class="col" ui-sref="login" ng-click="closeModal();">你好，登录</div>
                <div class="col" ng-click="closeModal();">消息提醒</div>
                <div class="col" ng-click="closeModal();">我的验证码</div>
            </div>
            <div class="row responsive-sm">
                <div class="col" ui-sref="order" ng-click="closeModal();">我的订单</div>
                <div class="col">我的账户</div>
                <div class="col">快速充值</div>

            </div>
            <div class="row responsive-sm">
                <div class="col" ng-click="closeModal();">好一客服</div>
                <div class="col">法律条款</div>
                <div class="col">关于我们</div>
                <div class="col">应用程序评价</div>
                <div class="col">退出</div>
            </div>
        </ion-modal-view>
    </script>
</ion-view>
