<ion-view class="deposit" view-title="选择充值的账户">

  <ion-content class="deposit-content">
      <div class="list">

        <div class="item item-divider" >
          选择充值的账户
        </div>
        <a class="item positive" href="#">
          支付宝（134****654）
        </a>
        <a class="item positive" href="#">
          建设银行（9999）
        </a>
        <a class="item positive" href="#">
          工商银行（0000）
        </a>
        <a class="item " href="#">
          绑定新的账户
        </a>
      </div>
  </ion-content>

</ion-view>
