<ion-view class="chooseAccount">

  <ion-header-bar class="bar-dark">
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-back"></a>
    <h1 class="title">选择账户</h1>
  </ion-header-bar>

  <ion-content class="chooseAccount-content">
    <div class="list">
      <div class="item item-divider">
        选择到账的账户
      </div>
      <a class="item positive" href="#">
        支付宝（135****565）
      </a>
      <a class="item positive" href="#">
        建设银行
      </a>
      <a class="item positive" href="#">
        工商银行
      </a>
      <a class="item" href="#">
        绑定新的账户
      </a>
    </div>

  </ion-content>
</ion-view>
