<ion-view view-title="物流详情" class="detail-logistics">
  <ion-content class="detail-logistics-content">
      <div class="logistics-panel">
          <div class="row">
              <div class="col">物流单号：</div>
          </div>
        <ul class="logistics-list padding">
          <li class="logistics-item padding">
              <p>[广州市]广州天河冼村营业点派件员：顺丰速运42235345正在为你派件</p>
          </li>
          <li class="logistics-item padding">
              <p>[广州市]广州番禺集散中心 已出发</p>
          </li>
          <li class="logistics-item padding">
              <p>[深圳市]深圳集散中心 已出发</p>
          </li>
          <li class="logistics-item padding">
              <p>商家正在通知快件公司揽件</p>
          </li>
        </ul>
      </div>
  </ion-content>
</ion-view>

