<ion-view class="code upgrade" view-title="升级费用说明">

    <ion-content class="upgrade-content text-center">
        <div class="row">
            <div class="col">
                <p>肥胖女生罚款发你而你看我饿哦他南非同人文南非我太年法国我特我呢女儿能欧体开虐哦个朋友可肥胖
                    肥胖女生罚款发你而你看我饿哦他南非同人文南非我太年法国我特我呢女儿能欧体开虐哦个朋友可
                    肥胖女生罚款发你而你看我饿哦他南非同人文南非我太年法国我特我呢女儿能欧体开虐哦个朋友可
                    肥胖女生罚款发你而你看我饿哦他南非同人文南非我太年法国我特我呢女儿能欧体开虐哦个朋友可
                    女生罚款发你而你看我饿哦他南非同人文南非我太年法国我特我呢女儿能欧体开虐哦个朋友可
                    女生罚款发你而你看我饿哦他南非同人文南非我太年法国我特我呢女儿能欧体开虐哦个朋友可
                    女生罚款发你而你看我饿哦他南非同人文南非我太年法国我特我呢女儿能欧体开虐哦个朋友可</p>
            </div>
        </div>
    </ion-content>
</ion-view>
