<ion-view view-title="登录" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-thin-left" nav-direction="back"></a>
  </ion-nav-buttons>

  <ion-content class="">
    <div class="list list-inset">
      <label class="login-title">
        <h3 class="title">登录</h3>
      </label>
      <div id="user-info">
        <form id="userForm" name="userForm" role="form">
          <label class="item item-input">
            <input type="text" placeholder="账号" ng-model="user.username" name="userName" required >
          </label>
          <p class="error" ng-show="userForm.userName.$dirty&&userForm.userName.$error.required">账号不能为空！</p>
          <label class="item item-input">
            <input type="password" placeholder="密码" ng-model="user.passwd" name="userPasswd" required >
          </label>
          <p class="error" ng-show="userForm.userPasswd.$dirty&&userForm.userPasswd.$error.required">密码不能为空！</p>
        </form>
      </div>
      <div class="row" id="check-wrap">
        <div class="col">
          <ion-checkbox id="autologin">自动登录</ion-checkbox>
        </div>
        <div class="col">
          <ion-checkbox id="showpwd">显示密码</ion-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <a href="#/forget-password" class="calm">忘记密码</a>
        </div>
      </div>
      <button class="button button-full" style="background:#f39800;color:#ffffff" ng-click="login(userForm)">
        登录
      </button>
      <button class="button button-full button-dark" ui-sref="register">
        注册
      </button>
    </div>
  </ion-content>

  <div class="logining text-center" ng-class="{'active' : backdrop}">
    <i class="icon ion-load-a" style="position:relative;display:block;font-size: 50px;margin-top: 80%;"></i>
  </div>
</ion-view>
