<ion-view view-title="支付验证码" class="integral-choose">
  <ion-content class="integral-choose-content" style="background: #efefef">
    <div class="row">
      <div class="col" style="font-size: 12px;color:#8b8b8b;">
        你的交易订单，银行网银已发送验证码
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <input type="text" class="integral-input"/>
      </div>
      <div class="col col-40">
        <button class="button button-small button-light" style="height: 40px;">重新获取验证码</button>
      </div>
    </div>
  </ion-content>
  <div class="pay-comm">
    <button class="button button-full button-dark">
      完成
    </button>
  </div>
</ion-view>
