<ion-view view-title="预售" class="pay" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-thin-left" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-ios-cart-outline button-clear" ui-sref="tab.cart">   <!-- 使按钮点击可以弹出左侧边栏 -->
    </button>
  </ion-nav-buttons>
  <ion-content class="pay-content">
    <!--广告-->
    <div class="home-Advertisement text-center">
      <img src="img/advertisement_01.png"/>
    </div>

    <div class="goods-list-panel margin-top-10">
      <div class="list">
        <a class="item item-thumbnail-left disable-user-behavior" ui-sref="fake-score-pay">
          <img src="http://imagehaoyi.nzlm.cn/1/623/441/1-623-441-7405413581977720.jpg">
          <h2 class="ng-binding">女式衬衫</h2>
          <div class="row row-no-padding">
            <div class="col col-70">
              <p style="" class="ng-binding">￥199</p>
              <p style="color: #dddddd;font-size: 10px;" class="ng-binding">50%已订购<br>剩余时间</p>
            </div>
            <div class="col col-30">
              <button class="button button-small button-assertive" style="line-height:20px;min-height:20px;">预售</button>
              <p style="color: red;font-size:20px;" class="ng-binding">￥199</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
