<ion-view view-title="最近查看">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ui-sref="tab.user" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="content cart-bg" direction="y" scrollbar-y="false">

    <div>
      <!-- 商品列表 -->
      <div class="home-shop-list stable-bg group-margin-top">

        <!--<div class="w-100 text-center dark padding-top">
          <label>
            逛逛热卖
          </label>
        </div>
-->
        <div class="row">
          <div class="col home-shop-item" ui-sref="detail">
            <div class="home-shop-item-img">
              <img src="img/100-100.jpg">
            </div>
            <div class="home-shop-item-other">
              <label class="goods-des">
                秋冬季加绒加厚男士休闲裤小脚男裤子纯棉修身直筒长裤韩版潮男装
              </label>
              <div class="baike-line"></div>
              <label class="goods-price">
                $45.00
              </label>
            </div>
          </div>

          <div class="col-offset-2"></div>

          <div class="col home-shop-item" ui-sref="detail">
            <div class="home-shop-item-img">
              <img src="img/100-100.jpg">
            </div>
            <div class="home-shop-item-other">
              <label class="goods-des">
                2015新品冬季运动休闲男士气垫跑步鞋韩版潮流男鞋子板鞋棉鞋潮鞋
              </label>
              <div class="baike-line"></div>
              <label class="goods-price">
                $98.62
              </label>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col home-shop-item" ui-sref="detail">
            <div class="home-shop-item-img">
              <img src="img/100-100.jpg">
            </div>
            <div class="home-shop-item-other">
              <label class="goods-des">
                秋冬季加绒加厚男士休闲裤小脚男裤子纯棉修身直筒长裤韩版潮男装
              </label>
              <div class="baike-line"></div>
              <label class="goods-price">
                $45.00
              </label>
            </div>
          </div>

          <div class="col-offset-2"></div>

          <div class="col home-shop-item" ui-sref="detail">
            <div class="home-shop-item-img">
              <img src="img/100-100.jpg">
            </div>
            <div class="home-shop-item-other">
              <label class="goods-des">
                2015新品冬季运动休闲男士气垫跑步鞋韩版潮流男鞋子板鞋棉鞋潮鞋
              </label>
              <div class="baike-line"></div>
              <label class="goods-price">
                $98.62
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col home-shop-item" ui-sref="detail">
            <div class="home-shop-item-img">
              <img src="img/100-100.jpg">
            </div>
            <div class="home-shop-item-other">
              <label class="goods-des">
                秋冬季加绒加厚男士休闲裤小脚男裤子纯棉修身直筒长裤韩版潮男装
              </label>
              <div class="baike-line"></div>
              <label class="goods-price">
                $45.00
              </label>
            </div>
          </div>

          <div class="col-offset-2"></div>

          <div class="col home-shop-item" ui-sref="detail">
            <div class="home-shop-item-img">
              <img src="img/100-100.jpg">
            </div>
            <div class="home-shop-item-other">
              <label class="goods-des">
                2015新品冬季运动休闲男士气垫跑步鞋韩版潮流男鞋子板鞋棉鞋潮鞋
              </label>
              <div class="baike-line"></div>
              <label class="goods-price">
                $98.62
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>

