<ion-view class="search" view-title="搜索">
  <ion-nav-buttons side="right">
    <button class="button  icon ion-ios-home-outline button-clear" ui-sref="tab.home">   <!-- 使按钮点击可以弹出左侧边栏 -->
    </button>
  </ion-nav-buttons>
  <ion-content class="search-content">
    <div class="list list-inset">
      <label class="item item-input">
        <label class="search-btn"><i class="icon ion-search placeholder-icon"></i></label>
        <input type="text" placeholder="Search">
      </label>
    </div>

    <div class="key-word">
        <ul class="key-word-list">
          <li class="key-word-item">
            <a href="#">关键字</a>
          </li>
          <li class="key-word-item">
            <a href="#">关键字</a>
          </li>
          <li class="key-word-item">
            <a href="#">关键字</a>
          </li>
          <li class="key-word-item">
            <a href="#">关键字</a>
          </li>
          <li class="key-word-item">
            <a href="#">关键字</a>
          </li>
        </ul>
    </div>

    <div class="goods-list">
      <div class="row">
        <div class="col col-30">
          <div class="goods-img-panel">
            <img src="img/100-100.jpg">
          </div>
        </div>
        <div class="col col-70">
          商品111
        </div>
      </div>
      <div class="row">
        <div class="col col-30">
          <div class="goods-img-panel">
            <img src="img/100-100.jpg">
          </div>
        </div>
        <div class="col col-70">
          商品111
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
