<ion-view class=" store-search" view-title="搜索商品">
    <ion-nav-buttons side="left">
        <back-nav></back-nav>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button icon ion-ios-cart-outline button-clear" ui-sref="tab.cart">   <!-- 使按钮点击可以弹出左侧边栏 -->
        </button>
    </ion-nav-buttons>

    <ion-content >
        <div class="list list-inset">
            <label class="item item-input">
                <label class="search-btn" ng-click="search()"><i class="icon ion-search placeholder-icon"></i></label>
                <input type="text" placeholder="Search" name="goodsname" ng-model="goodsname">
            </label>
        </div>
        <div class="key-word">
            <ul >
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>
                <li class="key-word-item">
                    <a href="#">关键字<i class="ion-close-circled"></i></a>
                </li>


            </ul>
        </div>
    </ion-content>
</ion-view>
