<ion-view title="绑定支付" class="store-register">
  <ion-content class="store-register-content">
    <div class="pay-method">
     <div class="row" style="border-bottom: 1px solid #737270;">
       <div class="col col-90" style="color: #3e3838;">选择支付方式</div>
       <div class="col col-10"><i class="icon ion-ios-arrow-down"></i></div>
     </div>
      <div class="row responsive-sm choose-pay" >
        <div class="col">
          <input type="radio" name="pay">银行卡
        </div>
        <div class="col">
          <input type="radio" name="pay">支付宝
        </div>
        <div class="col">
          <input type="radio" name="pay">微信支付
        </div>
      </div>
    </div>
    </div>

    <div class="card-no">
      <div class="row">
        <div class="col">
          <p>银行卡号</p>
          <p><input type="text" placeholder=""></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>持卡人姓名</p>
          <p><input type="text" placeholder=""></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>身份证号</p>
          <p><input type="text" placeholder=""></p>
        </div>
      </div>
    </div>


    <div class="next padding">
        <button class="button button-full button-dark">
          提交
        </button>
    </div>
  </ion-content>
</ion-view>
