<ion-view class="code upgrade" view-title="升级成为{{levelInfo.name}}会员">

  <ion-content class="upgrade-content text-center">
    <div style="background: #ffffff;color: #444444;font-size: 14px;" class="padding-bottom padding-top">
      <div class="row">
        <div class="col">
          <p>升级级别：从m升级到n</p>
          <p>升级费用：￥30000</p>
          <p class="text-right"><a class="calm" ui-sref="introductions-cost">升级费用说明</a></p>
        </div>
      </div>

      <div class="row responsive-sm yinhang-info text-left">
        <div class="col">
          转账银行信息：
        </div>
        <div class="col">
          <div class="contral-panel">
            <label>转账银行：</label><input type="text">
          </div>
          <div class="contral-form">
            <label>银行流水号：</label><input type="text">
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <button class="button button-small button-outline" style="width:70px;">取消</button>
        </div>
        <div class="col">
          <button class="button button-small button-assertive" style="width:70px;">确定</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
